@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}
.header{
    display: flex;
    margin: 5%;
}

.container{
    background-color: white;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row; 
    margin: 3px;
}
.box,
.box_2{
    display: flex;
    border: 1px solid rgb(255, 243, 243);
    border-radius: 13%;
    margin-bottom: 5%;
    height: 15vh;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column; 
    text-transform: capitalize;
}
.left,
.right{
    display: flex;
    flex-direction: column;
    margin: 1%;
    text-align: center;
    width: 50%;
    overflow: hidden;  
    object-fit: contain;  
}

.left div small,
.right div small{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box img,
.box_2 img{
    object-fit: contain;
}
