@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
    --color-secundary: #21D4B4;
    --color-ternary: #6F7384;
    --color-quaternary: #F4FDFA;
    --color-quintuple: #EE4D4D;
    --color-sextuple: #C0C0C0;
    --color-septuple: #1C1B1B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}
body{
    width: 100vw;
}

.header_container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e4e0e0a2;
}

.header_container_flecha a i {
    font-size: 30px;
    padding-right: 10px;
}
.header_container_titulo {
    font-size: 1.3em;
}

main{
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.envio{
    width: 100%;
    padding-top: 15px;
}

.envio i{
    font-size: 9vw;
}

.envio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2vw;
}

.envio__shipping, .envio__payment, .envio__review{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 12%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.5);
}

.envio__shipping{
    color: var(--color-secundary);
}

.envio__review{
    color: var(--color-ternary);
}

.pay{
    display: flex;
    justify-content: center;
}

.pay > div{
    width: 40%;
    background-color: var(--color-quaternary);
    display: flex;
    justify-content: center;
    padding: 5vw;
    margin: 7vw 1.5vw;
    border-radius: 2vw;
}

.pay__paypal img, .pay__gpay img{
    width: 60%;
    background-color: var(--color-quaternary);
}

.card{
    width: 100%;
    padding: 2vw;
}

.card__name, .card__number{
    display: flex;
    flex-direction: column;
}

.card span{
    color: var(--color-quintuple);
}

.card p{
    margin: 10px 0;
}

.card input{
    padding: 20px 15px;
    border-radius: 10px;
    border: 1px solid var(--color-sextuple);
}

.card input::placeholder{
    color: var(--color-sextuple);
}

.card__etc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card__etc p, .card__etc input{
    width: 50%;
}

.card__etc input{
    width: 49.4%;
}

.etc__mmyy{
    margin-right: .5vw;
}

.etc__123{
    margin-left: .5vw;
}

.etc__cvv{
    padding-left: .5vw;
}

.continue{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 1.5vw;
    margin-bottom: 35px;
}

.continue button{
    width: 100%;
    background: var(--color-septuple);
    color: var(--color-primary);
    padding: 20px;
    border: 0;
    border-radius: 10px;
}