@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}
body{
    width: 100vw;
    height: 100vh;
}
.screenCheckout{
display: flex;
flex-direction: column ;
}
@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PlusJakartaSans-Regular";
  background: var(--color-primary);
}

body {
    font-family: "PlusJakartaSans-Regular";
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e4e0e0a2;
}

.header_container_flecha a i {
    font-size: 20px;
    padding-right: 10px;
    color: black;
}
.header_container_titulo {
    font-size: .9em;
}

.iconsSection1{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
.bx{
    font-size: 9vw;
}
.icon2, .icon3{
    color: #6F7384;
}
.icon1, .icon2, .icon3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 12%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.5);
}

.section2{
    padding: 2vw;
}

.inputName{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.input input[type="text"]{
    margin-top: 5%;
    width: 100%;
    padding: 3vh;
    border: 1px solid #cccccc80;
    border-radius: 15px;
    box-sizing: border-box;    
}

.phoneNumber{
    margin-top: 5%;
    display: flex;
    flex-direction: column;

}

.inputPhone input[type="text"]{    
    margin-left: 1vh;
    border: none;
    height: vh;
    padding: 1.2vh;
    box-sizing: border-box;
}

.inputPhone{
    display: flex;
}
img{
    height: 4vh;
}

.containerPhone{
    margin-top: 5%;
    border: 1px solid #cccccc80;
    padding: 2vh;
    width: 100%;
    border-radius: 15px;
}

.containerProvidence, .containerCity{
    margin-top: 5%;
    border: 1px solid #cccccc80;
    padding: 1.5vh;
    width: 100%;
    border-radius: 15px;
}

.selectProvidence select, .selectCity select{
    width: 100%;
    border: none;
    padding: 1.8vh;
}

.inputPostal, .inputAdress{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

label{
    font-weight: bold;
}

button{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    padding: 3.2vh;
    width: 100%;
    border-radius: 15px;
    font-size: 1em;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
}

.color-acento{ color: orangered ; }