@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}
body{
    width: 100vw;
    height: 100vh; 
}
header{
    width: 100%;
    margin-bottom: 10%;
}

.iconsSection1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon1, .icon2, .icon3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 12%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.5);
}

.inputName{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
input[type="text"]{
    margin-top: 5%;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}