@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}
body{
    width: 100vw;
    height: 100vh; 
}
header{
    width: 100%;
    margin-bottom: 20%;
}
nav{
    margin-left: 4%;
}

.iconsSection1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-left: 6%;
}
.icon1, .icon2, .icon3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: 12%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.5);
}

.inputName{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.input input[type="text"]{
    margin-top: 5%;
    width: 90%;
    padding: 2vh;
    border: 1px solid #cccccc80;
    border-radius: 5px;
    box-sizing: border-box;    
}

.phoneNumber{
    margin-top: 5%;
    display: flex;
    flex-direction: column;

}

.inputPhone input[type="text"]{    
    margin-left: 1vh;
    border: none;
    padding: 0.5vh;
    box-sizing: border-box;
}
.inputPhone select{
    width: 20%;
    border: none;
    padding: 0.5vh;
}
.containerPhone{
    margin-top: 5%;
    border: 1px solid #cccccc80;
    padding: 1.5vh;
    width: 90%;
    border-radius: 5px;
}

.containerProvidence, .containerCity{
    margin-top: 5%;
    border: 1px solid #cccccc80;
    padding: 1.5vh;
    width: 90%;
    border-radius: 5px;
}
.selectProvidence select, .selectCity select{
    width: 100%;
    border: none;
    padding: 0.5vh;
}

.inputPostal, .inputAdress{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    
    margin-top: 5%;
}

label{
    font-weight: bold;
}

button{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    padding: 1.5vh;
    width: 90%;
    border-radius: 10px;
    font-size: 1em;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
}

.color-acento{ color: orangered ; }