@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}

.header{
    border-bottom: 1px solid var(--color-ternary);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.iconSearch img{
    margin: 8px;
}
.rowIcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rowIcon h3{
    font-size: 15px;
    margin-left: 15px;
}

.header i{
    font-size: 32px;
}
.container{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left, .right{
    margin: 2px;
}
.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
}

.boxColors{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boxColors h6{
    margin-left: 10px;
    color: rgb(180, 170, 170);
    text-decoration: underline;
    text-decoration: var(--color-linea);
}


.textDescription{
    margin-bottom: 8px;
}
.textDescription h6{
    font-size: 10px;
}

.textDescription h6 s{
    font-size: 8px;
    color: var(--color-linea);
}

.imgHeadphones{
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
}


.imgHeadphones .imgHeart{
    position: absolute;
    top: 8px;
    right: 12px;
    border-radius: 100%;

}
.right .box .imgHeadphones .imgHeart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 6px;
    font-size: 15px;
    z-index: 1;
    border-radius: 100%;
    color: rgb(222, 222, 222);
    background-color: rgb(60, 60, 60);
}

