@import url(variables.css);

:root{
    --primary-color: #ffffff;
    --secundary-color: #1c1b1b;
    --third-color: #c4c4c4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
}