@import url(variablesAuthentication.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
}

body {
    background-color: var(--color-white);
}

.header_container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-Crey-50);
}

.header_container_flecha a i {
    font-size: 20px;
    padding-right: 10px;
    color: var(--color-Black);
}

.header_container_titulo {
    font-size: .9em;
}

.header_container_pag {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header_container_pag .pag_actual {
    font-size: .8em;
}

.header_container_pag .pag_siguiente {
    font-size: .8em;
    color: var(--color-Crey-100);
}

.title__article {
    padding: 20px;
}

.title__article h1 {
    text-transform: capitalize;
    font-family: "PlusJakartaSans-Bold";
}

.title__article p {
    color: var(--color-Crey-150);
    font-family: "PlusJakartaSans-Regular";
}

.form__article {
    padding: 20px;
}

.form__article form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__article form input[type="submit"] {
    padding: 0.8rem;
    border: 1px solid var(--color-submit);
    /* Color no definido por la regla  */
    outline: none;
    border-radius: 5px;
    font-family: "PlusJakartaSans-Regular";
    color: var(--color-white);
    background-color: var(--color-Black);
    text-transform: capitalize;
}

.form__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__box label {
    font-family: "PlusJakartaSans-Medium";
    text-transform: capitalize;
}

.form__icon {
    position: relative;
}

.form__icon img {
    position: absolute;
    bottom: 1.2rem;
    right: .4rem;
    user-select: none;
    cursor: pointer;
}

.form__box input {
    padding: 0.8rem;
    padding-right: 2rem;
    border: 1px solid var(--color-Black);
    outline: none;
    border-radius: 5px;
    font-family: "PlusJakartaSans-Regular";
    text-transform: capitalize;
}