@import url(variablesAuthentication.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PlusJakartaSans-Regular";
  background: var(--color-white);
}

.header_container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-Crey-50);
}

.header_container_flecha a i {
  font-size: 20px;
  padding-right: 10px;
  color: var(--color-Black);
}
.header_container_titulo {
  font-size: .9em;
}
.header_container_pag {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header_container_pag .pag_actual {
  font-size: .8em;
}

.header_container_pag .pag_siguiente {
  font-size: .8em;
  color: var(--color-Crey-100);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--color-Crey-100);
  padding: 1em;
}
.container a {
  text-decoration: none;
  color: var(--color-Black);
  font-size: 0.875em;
  line-height: 150%;
  font-family: "PlusJakartaSans-Medium";
}
.container a span {
  font-size: 1.4em;
  margin-right: 0.8em;
}
.container p span {
  color: var(--color-Crey-100);
}
main {
  margin-top: 1em;
  padding: 0 1em;
}
main .confirmation_email {
  font-size: 2em;
  line-height: 120%;
  font-family: "PlusJakartaSans-Bold";
  margin-bottom: 20px;
}
main p {
  font-size: 0.875em;
  line-height: 150%;
  font-family: "PlusJakartaSans-Regular";
  margin-bottom: 0.3em;
}
main legend {
  font-size: 0.875em;
  line-height: 150%;
  font-family: "PlusJakartaSans-Regular";
  margin-bottom: 20px;
}
main legend span {
  color: var(--color-Red);
}
main input {
  height: 60px;
  border-radius: 1em;
  width: 100%;
  border: 1px solid var(--color-Cyan);
  padding: 16px;
  letter-spacing: 1px;
  background-color: var(--color-white);
  font-size: 0.75em;
}
main a.enviar {
  font-size: 0.875em;
  line-height: 150%;
  font-family: "PlusJakartaSans-Regular";
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-Black);
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 1em;
  margin-top: 2em;
}
