@import url(variables.css);
:root {
  --color-primary: #fcfcfc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PlusJakartaSans-Regular";
  background: var(--color-primary);
}
body{
    height: 100vh;
    width: 100%;
    padding: 1em;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;

}
main div form{
    display: flex;
    gap: 1em;
    flex-direction: column;
    
}
input{
    height: 3em;
    border-radius: 1em;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;

}
.enviar input{
    background: black;
    color: white;
    cursor: pointer;
    
}