@import url(variables.css);

:root{

    /* / Brand Color / */
  
    --color-Cyan:#21D4B4;
  
    --color-Cyan-50:#F4FDFA;
  
    --color-Black:#1C1B1B;
  
    --color-white:#ffffff;
  
    /* / Grey / */
  
    --color-Crey-50:#F4F5FD;
  
    --color-Crey-100:#C0C0C0;
  
    --color-Crey-150:#6F7384;
  
    /* / General / */
  
    --color-Red:#EE4D4D;
  
    --color-Green:#08E488;
  
    --color-Blue:#1F88DA;
  
    --color-Purple:#4F1FDA;
  
    --color-Yellow:#EBEF14;
  
    --color-Orange:#F0821D;
  
    --color-Merigold:#FFCB45;
  
    --color-Brown:#5A1A05;
  
    --color-Pink:#CE1DEB;

    /* /PASSWORD/ */

    --third-color: #C4C4C4;
  
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
}
body{
    background-color: var(--color-white);
}
.main{
    padding: 0 0.8rem;
}

.title__article{
    padding: 0.8rem 0;
}
.title__article h1{
    text-transform: capitalize;
    font-family: "PlusJakartaSans-Bold";
}
.title__article p{
    color: var(--color-white);
    font-family: "PlusJakartaSans-Regular";
}
.form__article{
    padding: 0.8rem 0;
}
.form__article form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form__article form input[type="submit"]{
    padding: 0.8rem;
    border: 1px solid var(--color-submit);
    outline: none;
    border-radius: 5px;
    font-family: "PlusJakartaSans-Regular";
    color: var(--color-white);
    background-color: var(--color-Black);
    text-transform: capitalize;
}
.form__box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form__box label{
    font-family: "PlusJakartaSans-Medium";
    text-transform: capitalize;
}
.form__icon{
    position: relative;
}
.form__icon img{
    position: absolute;
    bottom: 1.2rem;
    right: .4rem;
    user-select: none;
    cursor: pointer;
}
.form__box input{
    padding: 0.8rem;
    padding-right: 2rem;
    border: 1px solid var(--color-Black);
    outline: none;
    border-radius: 5px;
    font-family: "PlusJakartaSans-Regular";
    text-transform: capitalize;
}