@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}

body {
    font-family: "PlusJakartaSans-Regular";
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e4e0e0a2;
}

.header_container_flecha a i {
    font-size: 30px;
    padding-right: 10px;
    color: black;
}
.header_container_titulo {
    font-size: 1.3em;
}
.header_container_pag {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.header_container_pag a{
    text-decoration: none;
}
.header_container_pag p{
    color: #21D4B4;
    font-size: 1.3em;
}