@import url(variablesAuthentication.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    /* background: var(--color-primary); */
}

body {
    font-family: "PlusJakartaSans-Regular";
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-Crey-50);
}

.header_container_flecha a i {
    font-size: 20px;
    padding-right: 10px;
    color: var(--color-Black);
}
.header_container_titulo {
    font-size: .9em;
}
.header_container_pag {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header_container_pag .pag_actual {
    font-size: .8em;
}

.header_container_pag .pag_siguiente {
    font-size: .8em;
    color: var(--color-Crey-100);
}