@import url(variables.css);

:root {
    --color-primary: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}
body{
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.myCartEmptyState {
    text-align: center;
    margin: auto;
    height: 90vh;
    padding-top: 18vh;
}

.img__shop {
    margin: auto 1rem;
}

.img__shop img {
    object-fit: contain;
    width: 40vh;
    height: 40vh;
}


.title__card h2 {
    font-size: 3vh;
    font-family: "PlusJakartaSans-ExtraBold";
    font-weight: bold;
    margin-bottom: 1.3rem;
}
.title__card{
    width: 90%;
    margin: 0 auto;
}

.title__card button {
    display: block;
    width: 100%;
    border: none;
    background: rgb(23, 23, 23);
    padding: 1rem;
    border-radius: 14px;
    margin: 0 auto;
}

.title__card p {
    font-size: 2.4vh;
    margin: 1rem auto;
    color: rgb(119, 111, 111);
}


.title__card a {
    text-decoration: none;
    color: var(--color-primary);
    background: rgb(23, 23, 23);
    font-size: 3vh;

}
