@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
    --color-secundary: #6F7384;
    --color-secundary-transparent:#e4e0e0a2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
}
body{
    /*outline: 3px solid red;*/
    height: 100vh;
    width: 100%;
    
}
.main{
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.5fr 6fr;
    grid-template-areas: 
    "carts"
    "order";

}

.main__cart{
    height: 70%;
    /*background: green;*/
    grid-area: carts;
    gap: 1px;
}
.cart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
.cart__image img{
    border-radius: 12px;
}
.cart__info{
    width: 80%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info__headline{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headline__name{
    display: flex;
    justify-content: space-between;
}
.name{
    font-family: "PlusJakartaSans-Medium";
    padding-bottom: 5px;
}
.headline__name img{
    align-self: flex-start;
}
.headline__discount{
    display: flex;
    flex-direction: column;
}
.discount__after{
    font-family: "PlusJakartaSans-Medium";
}
.discount__before{
    color: var(--color-secundary);
    text-decoration: line-through;
}
.info__quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantity__count{
    padding: 2%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid var(--color-secundary-transparent);
}
.quantity__count  img{
    border-radius: 12px;
    /*width: 20%;*/
}
/*.quantity__count h3{
    font-size: 4vw;

}*/



.order__dad{   
    /*background: red;*/
    grid-area: order;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 65px;
}
.main__order{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.order__info{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info__detail{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info__title{
    font-family: "PlusJakartaSans-Medium";
}
.detail__subtotal,
.detail__shipping,
.detail__total{
    display: flex;
    justify-content: space-between;
}
.detail__total p{
    font-family: "PlusJakartaSans-Medium";
}
.detail__subtotal small,
.detail__shipping small{
    color: var(--color-secundary);
}
.order__button{
    height: 30%;
    border-radius: 12px;
    background: black;
    color: var(--color-primary);
    font-family: "PlusJakarta-Medium";
    border: none;
}
