@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}

.container{

    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap:1px 1px;
    grid-template-areas:
    
   
    "sup sup sup sup"
    "img img img img"
    "img img img img"
    "img img img img"
    "img img img img"
    "img img img img"
    "titulo titulo titulo titulo"
    "titulo titulo titulo titulo"
    "titulo titulo titulo titulo"
    "boton boton boton boton"
    "boton boton boton boton"
    "resto resto resto resto"
    ;

    width: 100%;
    height: 100%;
    margin:15px auto;
    background: var(--color-primary);
    position: fixed;
}


.container__logo{
    
    
    grid-area: sup;
    display: flex;
    flex-direction: row;
    font-family: "PlusJakartaSans-Medium";
    font-size: 0.875em;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}

.container__logo img{
   position: relative;
   height: 100px;
   width: 100px;

}

.container__logo h2{
    display: flex;
    font-size: 0.875em;
    font-family: "PlusJakartaSans-Regular";
    color: var(--color-cyan);
    align-items: center;
}

.container__title {
    display: flex;
    font-family: "PlusJakartaSans-Bold";
    flex-direction: column;
    gap:12px;
    padding: 20px;
}

.container__title p {
    display: flex;
    width: 90%;
    font-family: "PlusJakartaSans-Regular";
    font-size: 0.875em;
    color: var(--color-grey);
    justify-content: center;
    margin-left: 20px;
    
    
}
.container__h1{
    font-size: 1.5em;
}

.container__skip{
   
    grid-area: arriba;
}

.container__pic{
    
    grid-area: img;
    background-image: url(../storage/img/shopping.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.container__title{
    
    grid-area: titulo;
}

.container__but{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
   
    grid-area: boton;
    color: #fcfcfc;

}
.container__but button  {
    color: #fcfcfc;
    width: 85%;
    height: 40%;
    background-color: var(--color-black);
    border-radius: 10px;;
   
    font-size: 0.875em;
    

}

.container__but button a {
    text-decoration: none;
    background: var(--color-black);
    color: #fcfcfc;
    font-family: "PlusJakartaSans-Bold";


}
.container__but img{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    margin-top: 40px;
}

.container__else{
    
    grid-area: resto;
}