@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
    --color-blue: #1F8BDA;
    --color-green: #08E488; 
    --color-grey: #6F7384;          
    --color-golden: #DFB300;
    --color-black: #000000; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}




.main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "fondo fondo fondo fondo"
    "detalles detalles detalles detalles"
    "colores colores colores colores"
    "botones botones botones botones"
    ;
}

.product_img{
    grid-area: fondo;
}

.product_img img{
    width: 100%;
}

.product_Detail{
    margin-top: -100px;
    grid-area: detalles;
    background: var(--color-primary);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.product_Detail .product_labels{
    background: none;
    margin-top: 3%;
    width: 50%;
    height: 4vh;
    display: flex;
}

.product_Detail .product_labels h3{
    font-family: "PlusJakartaSans-SemiBold";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    width: 40%;
    font-size: 1.4em;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.product_labels h3:first-child{
    background: var(--color-blue);
}

.product_labels h3:last-child{
    background: var(--color-green);
}

.product_Detail .product_name_and_price{
    display: flex;
    width: 40vh;
    height: 7vh;
    margin-top: 1%;
    margin-left: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.product_name_and_price .name{
    width: 70%;
    font-size: 2em;
}

.product_name_and_price .price{
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_name_and_price .price h3{
    color: var(--color-grey);
}

.rating{
    display: flex;
    margin-top: 1vh;
    margin-left: 23px;
}

.rating .star{
    color: var(--color-golden);
    font-size: 1.8em;
}

.rating .reviews{
    display: flex;
    align-items: center;
    font-size: .9em;
}

.product_description{
    overflow-y: scroll;
    height: 20vh;
    margin-top: 3%;
    margin-left: 23px;
    margin-right: 23px;
}

.product_description .description_1, .description_2, .description_3{
    width: 100%;
    margin-top: 2.6%;
    color: var(--color-grey);
    font-size: 1.8em;
}


.product_Colors_Quantity{
    grid-area: colores;
    margin-top: 2%;
    margin-left: 23px;
}

.product_Colors_Quantity .colors{
    display: flex;
}

.product_Colors_Quantity .colors div{
    background: var(--color-blue);
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    margin-top: 3%;
    margin-right: 3%;
}

.product_Colors_Quantity{
    grid-area: colores;
    margin-top: 2%;
    margin-left: 23px;
}

.product_Colors_Quantity .title_Size{
    margin-top: 2%;
}

.product_Colors_Quantity .Sizes{
    display: flex;
}

.product_Colors_Quantity .Sizes div{
    display: flex;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 1.05) 0px 0px 0px 1px;
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    margin-top: 3%;
    margin-right: 3%;
    font-size: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_Colors_Quantity .title_Quantity{
    margin-top: 2%;
}

.product_Colors_Quantity .Quantity{
    display: flex;
}

.product_Colors_Quantity .Quantity div{
    display: flex;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 1.05) 0px 0px 0px 1px;
    width: 10vh;
    height: 3vh;
    margin-top: 3%;
    margin-right: 3%;
    font-size: 2em;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.Buttons{
    grid-area: botones;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Buttons .button_1{
    width: 30%;
    height: 60%;
    font-size: 2em;
    border-radius: 15px;
    font-family: "PlusJakartaSans-SemiBold";
    color: var(--color-black);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 1.05) 0px 0px 0px 1px;
}

.Buttons .button_2{
    width: 30%;
    height: 60%;
    font-size: 2em;
    border-radius: 15px;
    font-family: "PlusJakartaSans-SemiBold";
    color: var(--color-primary);
    background: var(--color-black);
}

.Buttons .button_2 i{
    color: var(--color-primary);
    background: var(--color-black);
}