@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
    --color-Blue: #1F8BDA;
    --color-Purple: #4F1FDA;
    --color-Green: #08E488; 
    --color-grey: #6F7384;          
    --color-golden: #DFB300;    
    --color-Black: #1C1B1B; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}


.header{
    background: none;
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 2;
    top: 0;
}

.header .retroseso{
    margin-left: 27px;
    display: flex;
    background: none;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header .retroseso img{
    background: none;
    height: 4vh;
}

.header .Wish{
    margin-right: 27px;
    display: flex;
    background: none;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header .Wish img{
    background: none;
    height: 4vh;
}


.main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "fondo fondo fondo fondo"
    "detalles detalles detalles detalles"
    "colores colores colores colores"
    "botones botones botones botones"
    ;
}

.product_img{
    grid-area: fondo;
}

.product_img img{
    width: 100%;
}

.product_Detail{
    width: 100%;
    margin-top: -100px;
    grid-area: detalles;
    background: var(--color-primary);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.product_Detail .product_labels{
    background: none;
    margin-top: 3%;
    width: 100%;
    height: 4vh;
    display: flex;
}

.product_Detail .product_labels h3{
    font-family: "PlusJakartaSans-SemiBold";
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    width: 10vh;
    font-size: 1.4em;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.product_labels h3:first-child{
    background: var(--color-Blue);
}

.product_labels h3:last-child{
    background: var(--color-Green);
}

.product_Detail .product_name_and_price{
    display: flex;
    height: 7vh;
    margin-top: 1%;
    margin-left: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.product_name_and_price .name{
    width: 70%;
    font-size: 1.6em;
}

.product_name_and_price .price{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_name_and_price .price h3{
    color: var(--color-grey);
}

.rating{
    display: flex;
    margin-top: 1vh;
    margin-left: 23px;
}

.rating .star{
    color: var(--color-golden);
    font-size: 1.8em;
}

.rating .reviews{
    display: flex;
    align-items: center;
    font-size: .9em;
}

.product_description{
    font-family: "PlusJakartaSans-Regular";
    overflow-y: scroll;
    height: 20vh;
    margin-top: 3%;
    margin-left: 23px;
    margin-right: 23px;
}

.product_description .description_1, .description_2, .description_3{
    width: 100%;
    margin-top: 2.6%;
    color: var(--color-grey);
    font-size: 1.8em;
}


.product_Colors_Quantity{
    grid-area: colores;
    margin-top: 2%;
    margin-left: 23px;
}

.product_Colors_Quantity .colors{
    display: flex;
}

.product_Colors_Quantity .colors div{
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    margin-top: 3%;
    margin-right: 3%;
}

.product_Colors_Quantity .colors .color_1{
    background: var(--color-Black);
}

.product_Colors_Quantity .colors .color_2{
    background: var(--color-grey);
}

.product_Colors_Quantity .colors .color_3{
    background: var(--color-Purple);
}

.product_Colors_Quantity .colors .color_4{
    background: var(--color-Blue);
}

.product_Colors_Quantity .colors .color_5{
    background: var(--color-grey);
}

.product_Colors_Quantity{
    grid-area: colores;
    margin-top: 2%;
    margin-left: 23px;
}

.product_Colors_Quantity .title_Size{
    margin-top: 2%;
}

.product_Colors_Quantity .Sizes{
    display: flex;
}

.product_Colors_Quantity .Sizes div{
    display: flex;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 1.05) 0px 0px 0px 1px;
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    margin-top: 3%;
    margin-right: 3%;
    font-size: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_Colors_Quantity .Sizes .Size_3{
    border: none;
    color: var(--color-primary);
    background-color: var(--color-Black);
}

.product_Colors_Quantity .title_Quantity{
    margin-top: 2%;
}

.Quantity{
    height: 7vh;
}

.product_Colors_Quantity .Quantity{
    display: flex;
    flex-direction: column;
}

.product_Colors_Quantity .Quantity div{
    display: flex;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 1.05) 0px 0px 0px 1px;
    width: 10vh;
    height: 3vh;
    margin-top: 3%;
    margin-right: 3%;
    font-size: 2em;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.Buttons{
    grid-area: botones;
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Buttons .button_1{
    width: 15vh;
    height: 5vh;
    font-size: 2em;
    border-radius: 15px;
    font-family: "PlusJakartaSans-SemiBold";
    color: var(--color-Black);
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 1.05) 0px 0px 0px 1px;
}

.Buttons .button_2{
    width: 15vh;
    height: 5vh;
    font-size: 2em;
    border-radius: 15px;
    font-family: "PlusJakartaSans-SemiBold";
    color: var(--color-primary);
    background: var(--color-Black);
}


.Buttons .button_2 a{
    color: var(--color-primary);
    background: var(--color-black);
    text-decoration: none;
}

.Buttons .button_2 i{
    color: var(--color-primary);
    background: var(--color-Black);
}

@media (width < 500px) {
    .product_Detail{
        font-size: .2em;
    }

    .product_Detail .product_labels{
        font-size: 2em;
    }

    .product_Detail .product_name_and_price {
        font-size: 2.5em;
        justify-content: space-around;
        margin-left: 0;
    }

    .product_Detail .product_name_and_price .name{
        margin-left: 5px;
    }

    .rating{
        font-size: 2em;
    }

    .product_Detail .product_description .description_1, .description_2, .description_3{
        font-size: 4em;
    }

    .product_Colors_Quantity .title_colors{
        font-size: 0.7em;
    }

    .product_Colors_Quantity .title_Size{
        font-size: 0.7em;
    }

    .product_Colors_Quantity .Sizes{
        font-size: 0.3em;
    }

    .product_Colors_Quantity .title_Quantity{
        font-size: 0.7em;
    }

    .product_Colors_Quantity .Quantity .Quantity_1{
        font-size: 1em;
    }
    
    .Buttons .button_1{
        width: 40%;
        font-size: 1em;
    }

    .Buttons .button_2{
        width: 40%;
        font-size: .9em;
    }
}

@media (width < 350px){

    .product_Detail .product_labels{
        width: 100%;
        font-size: 3em;
    }

    .product_labels h3:first-child{
        height: 5vh;
        width: 20vh;
    }

    .product_labels h3:last-child{
        height: 5vh;
        width: 20vh;
    }

    .product_Detail .product_name_and_price{
        margin-top: 5vh;
    }

    .rating{
        margin-top: 5vh;
    }

}