@import url(variables.css);

:root {
    --color-primary: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}

body {
    width: 100vw;
    overflow: hidden;
}

.header {
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.header img {
    width: 2em;
    margin-right: 13px;
}

.header p {
    font-size: .8em;
}
