@import url(variables.css);
:root{
    --color-header: #21D4B4;
    --color-titulos: #1C1B1B;
    --color-font: #6F7384;
    --color-principal: #FFFFFF;
    --color-separadores: #F4F5FD;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    /* background: var(--color-principal); */
}
header {
    background: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    color: var(--color-principal);
}
.user {
    display: flex;
    gap: 8px;
}
.user > article h3 {
    text-transform: capitalize;
    font-weight: bolder;

}
.user > article p {
    font-weight: 550;
}
.logout i {
    font-size: 2.3em;
}