@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 5vh;
    padding: 1vh;
}
.SearchBar{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 1.5vh;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 2vh;
}
.SearchBar input{
    outline: none;
    padding: 1vh;
    border: none;

}
.searchInput{
    display: flex;
    align-items: center;
}
.titulo{
    display: flex;
    padding: 1vh;
    margin-top: 2vh;
    margin-left: 1vh;
}
.main{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}
.main div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 6vh;
    border: 1px solid rgb(241, 241, 241);
    border-left: none;
    border-top: none;
    border-right: none;
    cursor: pointer;
}
.main div p{
    margin-left: 2vh;
}
.main div img{
    margin-right: 2vh;
}
