@import url(variables.css);
:root{

    /* Brand Color */
  
    --color-Cyan:#21D4B4;
  
    --color-Cyan-50:#F4FDFA;
  
    --color-Black:#1C1B1B;
  
    --color-white:#ffffff;
  
    /* Grey */
  
    --color-Crey-50:#F4F5FD;
  
    --color-Crey-100:#C0C0C0;
  
    --color-Crey-150:#6F7384;
  
    /* General */
  
    --color-Red:#EE4D4D;
  
    --color-Cyan50:#F4FDFA;
  
    --color-Blue:#1F88DA;
  
    --color-Purple:#4F1FDA;
  
    --color-Yellow:#EBEF14;
  
    --color-Orange:#F0821D;
  
    --color-Merigold:#FFCB45;
  
    --color-Brown:#5A1A05;
  
    --color-Pink:#CE1DEB;
  
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}






























.numbers {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    ". . . . ."
    ". box_1 box_2 box_3 ."
    ". box_4 box_5 box_6 ."
    ". box_7 box_8 box_9 ."
    ". box_-- box_0 box_C ."
    ". . . . ."
    ;
    gap: 5px;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12 {
    display: flex;
    border: none;
    background-color: var(--color-Cyan-50);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: "PlusJakartaSans-ExtraBold";
}
.numbers button:hover {
    background-color: var(--color-Cyan);
}
.item1 {
    display: grid;
    grid-area: box_1;
    
}
.item2 {
    display: grid;
    grid-area: box_2;
}
.item3 {
    display: grid;
    grid-area: box_3;
}
.item4 {
    display: grid;
    grid-area: box_4;
}
.item5 {
    display: grid;
    grid-area: box_5;
}
.item6 {
    display: grid;
    grid-area: box_6;
}
.item7 {
    display: grid;
    grid-area: box_7;
}
.item8 {
    display: grid;
    grid-area: box_8;
}
.item9 {
    display: grid;
    grid-area: box_9;
}
.item10 {
    display: grid;
    grid-area: box_--;
}
.item11 {
    display: grid;
    grid-area: box_0;
}
.item12 {
    display: grid;
    grid-area: box_C;
}