@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}
div{
    position: fixed;
    margin-top: 625px;
    left: -3px;
}


.text{
    position: relative;
    font-size: 16px;
    left: 120px;
    top: -370px;
    font-weight: 600;
    display: inline-block;
    background: none;
}

.imagen{
    position: relative;
    width: 300px;
    top: -350px;
    right: -30px;
}
