@font-face {
    font-family: "PlusJakartaSans-Bold";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-BoldItalic";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-BoldItalic.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-ExtraBold";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-ExtraBoldItalic";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-ExtraLight";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-ExtraLight.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-ExtraLightItalic";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-ExtraLightItalic.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-Italic";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-Italic.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-Light";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-Light.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-LightItalic";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-LightItalic.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-Medium";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-MediumItalic";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-MediumItalic.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-Regular";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-SemiBold";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf);
}
@font-face {
    font-family: "PlusJakartaSans-SemiBoldItalic";
    src: url(../storage/font/Plus_Jakarta_Sans/PlusJakartaSans-SemiBoldItalic.ttf);
}