:root{
  /* Brand Color */

  --color-Cyan:#21D4B4;
  --color-Cyan-50:#F4FDFA;
  --color-Black:#1C1B1B;
  --color-white:#ffffff;

  /* Grey */

  --color-Crey-50:#F4F5FD;
  --color-Crey-100:#C0C0C0;
  --color-Crey-150:#6F7384;

  /* General */

  --color-Red:#EE4D4D;
  --color-Cyan50:#F4FDFA;
  --color-Blue:#1F88DA;
  --color-Purple:#4F1FDA;
  --color-Yellow:#EBEF14;
  --color-Orange:#F0821D;
  --color-Merigold:#FFCB45;
  --color-Brown:#5A1A05;
  --color-Pink:#CE1DEB;
}
