@import url(variables.css);

:root {
    --color-primary: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans-Regular";
    background: var(--color-primary);
}

body > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    padding: 1rem;
}
.card__Wishlist__ES {
    /* display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; */
    text-align: center;
margin: 0 auto;
}

.img__shop {
    margin: auto 1rem;
}

.img__shop img {
    object-fit: contain;
    width: 275px;
    height: 275px;
}


.title__card h2 {
    font-size: 1.8rem;
    font-family: "PlusJakartaSans-ExtraBold";
    font-weight: bold;
    margin-bottom: 1.3rem;
}


.title__card button {
    display: block;
    width: 100%;
    border: none;
    background: rgb(23, 23, 23);
    padding: 1rem;
    border-radius: 14px;
    margin: 0 auto;
}

.title__card p {
    font-size: 1.08rem;
    margin: 1rem auto;
    color: rgb(119, 111, 111);
}


.title__card a {
    text-decoration: none;
    color: var(--color-primary);
    background: rgb(23, 23, 23);
    font-size: 1rem;

}

.footer_main {
    box-shadow: 0px 0px 2px 1px rgb(209, 209, 209);
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
    bottom: 0;
}

.footer_content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.icon, .icon__1 {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon img , .icon__1 img{
    width: 8vw;
    height: 4vh;
    object-fit: contain;
}
.icon__1{
    font-weight: bold;
}
