<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/categories.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <i class='bx bx-arrow-back'></i>
                <a href="../views/homeScreen.html"><img src="../storage/img/Line arrow-left.png" alt=""></a>
            </div>
            <div class="header_container_titulo">
                <strong><p>categories</p></strong>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="left">
            <div class="box">
                <a href="../views/SubCategories.html"><img src="../storage/img/📱.png" alt=""></a>
                <strong><small> electronics</small></strong>
            </div>
        
            <div class="box">
                <img src="../storage/img/📱 (2).png" alt="">
                <strong><small> furniture</small></strong>
            </div>
            
            <div class="box">
                <img src="../storage/img/📱 (4).png" alt="">
                <strong><small> home decor</small></strong>
            </div>
            
            <div class="box">
                <img src="../storage/img/📱 (6).png" alt="">
                <strong><small>healt</small></strong>
            </div>

            <div class="box">
                <img src="../storage/img/📱 (8).png" alt="">
                <strong><small> fabrication service</small></strong>
            </div>
        </section>
        <section class="right">
            <div class="box_2">
                <img src="../storage/img/📱 (1).png" alt="">
                <strong><small>fashion</small></strong>
            </div>
            <div class="box_2">
                <img src="../storage/img/📱 (3).png" alt="">
                <strong>small industrial</small></strong>
            </div>
            <div class="box_2">
                <img src="../storage/img/📱 (5).png" alt="">
                <strong><small> electronics</small></strong>
            </div>          
            
            <div class="box_2">
                <img src="../storage/img/📱 (7).png" alt="">
                <strong><small>consruction & real state</small></strong>
            </div>

            <div class="box_2">
                <img src="../storage/img/📱 (9).png" alt="">
                <strong><small> electrical equipment</small></strong>
            </div>
        </section>
    </div>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <a href="../views/homeScreen.html"><img src="../storage/img/home-2.svg" alt="home"></a>
                <span>Home</span>
            </div>
            <div class="icon">
                <a href="../views/categories.html"><img src="../storage/img/footer/category-2.svg" alt="home"></a>
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="../storage/img/footer/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <a href="../views/categories.html"></a><img src="../storage/img/footer/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="../storage/img/footer/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>