<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/categories.css">
</head>
<body>
    <div class="container">
        <section class="left">
            <div class="box">
                <img src="storage/img/📱.png" alt="">
                <small> electronics</small>
            </div>
        
            <div class="box">
                <img src="storage/img/📱 (2).png" alt="">
                <small> furniture</small>
            </div>
            
            <div class="box">
                <img src="storage/img/📱 (4).png" alt="">
                <small> home decor</small>
            </div>
            
            <div class="box">
                <img src="storage/img/📱 (6).png" alt="">
                <small>healt</small>
            </div>

            <div class="box">
                <img src="storage/img/📱 (8).png" alt="">
                <small> fabrication service</small>
            </div>
        </section>
        <section class="right">
            <div class="box_2">
                <img src="storage/img/📱 (1).png" alt="">
                <small>fashion</small>
            </div>
            <div class="box_2">
                <img src="storage/img/📱 (3).png" alt="">
                <small>industrial</small>
            </div>
            <div class="box_2">
                <img src="storage/img/📱 (5).png" alt="">
                <small> electronics</small>
            </div>
            
            
            <div class="box_2">
                <img src="storage/img/📱 (7).png" alt="">
                <small>consruction & real state</small>
            </div>

            <div class="box_2">
                <img src="storage/img/📱 (9).png" alt="">
                <small> electrical equipment</small>
            </div>
        </section>
    </div>
</body>
</html>