<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/CheckoutReviewItems.css">
    <link rel="stylesheet" href="../css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href=""><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>Items</p>
            </div>
        </div>
    </header>



    <main>
        <div class="container">
            <div class="item_1">
                <div class="compradopicture"><img src="../storage/img/watch1better.png"></div>
                <div class="comprainfo">
                    <div class="penpic"><i class='bx bx-edit-alt' ></i></div>
                    <div class="compradoname"><p>Loop Silicone Strong Magnetic Watch</p></div>
                    <div class="compradoprice"><small><sub>$</sub>15.25</small></div>
                    <div class="compradooffer"><small class="offer"><sub>$</sub> ̶2̶0̶.̶0̶0̶</small></div>
    
                    <div class="quitoradd">
                        <i class='bx bx-minus' ></i> <p>1</p> <i class='bx bx-plus' ></i>
                    </div>
                </div>
            </div>

            <div class="item_2">
                <div class="compradopicture"><img src="../storage/img/watch2better.png"></div>
                <div class="comprainfo">
                    <div class="penpic"><i class='bx bx-edit-alt' ></i></div>
                    <div class="compradoname"><p>M6  Smart watch IP67 Waterproof</p></div>
                    <div class="compradoprice"><small><sub>$</sub>12.00</small></div>
                    <div class="compradooffer"><small class="offer"><sub>$</sub> ̶1̶0̶.̶0̶0̶</small></div>
    
                    <div class="quitoradd">
                        <i class='bx bx-minus' ></i> <p>1</p> <i class='bx bx-plus' ></i>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
</body>
</html>