<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/checkoutReview.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <main>
        <nav>
            <article class="state_icons borde_section">
                <div class="icono_1">
                    <img src="../storage/img/box.svg" alt="">
                    <small>shipping</small>
                </div>
                <img src="../storage/img/Vector 4.svg" alt="">
                <div class="icono_2">
                    <img src="../storage/img/card-tick.svg" alt="">
                    <small>payment</small>
                </div>
                <img src="../storage/img/Vector 5.svg" alt="">
                <div class="icono_3">
                    <img src="../storage/img/clipboard-tick.svg" alt="">
                    <small>review</small>
                </div>
            </article>
            <article class="items borde_section">
                <div class="items_nums">
                    <h3>items (2)</h3>
                </div>
                <i class='bx bxs-chevron-right'></i>
            </article>
        </nav>
        <section class="section_main">
            <article class=" details_shipping_address borde_section">
                <h1 class="title_seccions">Shipping Address</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>full name</td>
                            <td>ahman khan</td>
                        </tr>
                        <tr>
                            <td>mobile number</td>
                            <td>+92 000-0000000</td>
                        </tr>
                        <tr>
                            <td>Province</td>
                            <td>Sindh</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>Karachi</td>
                        </tr>
                        <tr>
                            <td>Street Address</td>
                            <td>XYZ Address</td>
                        </tr>
                        <tr>
                            <td>Postal Code</td>
                            <td>75400</td>
                        </tr>
                    </tbody>

                </table>
            </article>


            <article class="order_info borde_section">
                <h1 class="title_seccions">order info</h1>

                <table>
                    <tbody>
                        <tr>
                            <td>Subtotal</td>
                            <td>$27.25</td>
                        </tr>
                        <tr>
                            <td>Shipping Cost</td>
                            <td>$0.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>total</td>
                            <td>$27:25</td>
                        </tr>
                    </tfoot>
                </table>


            </article>
            <a href="#" class="boton_footer_checkaut">place older</a>
        </section>

    </main>




</body>

</html>