<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Shipping </title>
    <link rel="stylesheet" href="/css/example.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header></header>
    <section class="screenCheckout">

        <div class="section1">
            <div class="iconsSection1">
                <div class="icon1">
                    <i class='bx bxs-package'></i>
                    <p class="cnt1">Shipping</p>
                </div>
                <div class="line"></div>
                <div class="icon2">
                    <i class='bx bx-credit-card'></i>
                    <p class="cnt1">Payment</p>
                </div>
                <div class="line"></div>  
                <div class="icon3">
                    <i class='bx bx-list-check' ></i>
                    <p class="cnt1">Review</p>  
                </div>
            </div>
        </div>
        <nav class="section2">
            <div class="inputName">
                <form>
                    <label for="nombre">Full Name <span class="color-acento">*</span></label>
                    <div class="input">
                        <input type="text" id="nombre" name="nombre" placeholder="Enter full name">
                    </div>
                </form>
            </div>
            <div class="phoneNumber">
                <form>
                    <label for="numero">Phone Number <span class="color-acento">*</span></label>
                    <div class="containerPhone">
                        <div class="inputPhone">
                            <select id="pais" name="pais">
                                <option value="AR">Arg</option>
                                <option value="BR">Bra</option>
                                <option value="CL">Chil</option>
                                <input type="text" class="Number" id="numero" name="numero" placeholder="+54">
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="inputProvidence">
                <form>
                    <div class="containerProvidence">
                        <div class="selectProvidence">
                            <select id="province" name="province" placeholder="">
                                <option value="1">Select province</option>
                                <option value="AR">Arg</option>
                                <option value="BR">Bra</option>
                                <option value="CL">Chil</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="inputCity">
            <form>
                <div class="containerCity">
                    <div class="selectCity">
                        <select id="City" name="City" placeholder="">
                            <option value="1">Select City</option>
                            <option value="AR">Arg</option>
                            <option value="BR">Bra</option>
                            <option value="CL">Chil</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="inputAdress">
            <form>
                <label for="adress">Street Adress <span class="color-acento">*</span></label>
                <div class="input">
                    <input type="text" id="adress" name="adress" placeholder="Enter street adress">
                </div>
            </form>
        </div>
        <div class="inputPostal">
            <form>
                <label for="postal">Postal Code <span class="color-acento">*</span></label>
                <div class="input">
                    <input type="text" id="postal" name="postal" placeholder="Enter postal code">
                </div>
            </form>
        </div>
        <button> Save  </button>
    </nav>
</section>
    
</body>
</html>