<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/componente.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
        <div class="section1">
            <div class="iconsSection1">
                <div class="icon1">
                    <i class='bx bxs-package'></i>
                    <p class="cnt1">Shipping</p>
                </div>
                <div class="line"></div>
                <div class="icon2">
                    <i class='bx bx-credit-card'></i>
                    <p class="cnt1">Payment</p>
                </div>
                <div class="line"></div>  
                <div class="icon3">
                    <i class='bx bx-list-check' ></i>
                    <p class="cnt1">Review</p>  
                </div>
            </div>
        </div>
</body>
</html>