<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>excluseSales</title>
    <link rel="stylesheet" href="../css/excluseSales.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="rowIcon">
            <i class='bx bx-arrow-back'></i>
            <h3>Exclusive Sale</h3>
        </div>
       
        <div class="iconsSearch">
            <img src="/storage/img/settingIcon.svg">
            <img src="/storage/img/searchIcon.svg">
        </div>
        
    </header>
    
    <div class="container">
        <section class="left">
            <div class="box">
                <div class="imgHeadphones">
                    <img src="../storage/img/headphones1.svg">
                    <img src="/storage/img/blackheart.svg" class="imgHeart">
                </div>
                <div class="boxColors">
                    <img src="/storage/img/Colors1.svg">
                    <h6>All 5 colors</h6>
                </div>
                <div class="textDescription">
                    <h5>Loop silicone strong...</h5>
                    <h6>$15.25</h6>
                    <h6><s>$20.00</s></h6>
                </div>
            </div>
            <div class="box">
                <div class="imgHeadphones">
                    <img src="../storage/img/headphones2.svg">
                    <img src="/storage/img/blackheart.svg" class="imgHeart">
                </div>
                <div class="boxColors">
                    <img src="/storage/img/Colors2.svg">
                </div>
                <div class="textDescription">
                    <h5>P47 Wireless headpho...</h5>
                    <h6>$38.45</h6>
                    <h6><s>$42.75</s></h6>
                </div>
            </div>
            <div class="box">
                <div class="imgHeadphones">
                    <img src="../storage/img/headphones3.svg">
                    <img src="/storage/img/blackheart.svg" class="imgHeart">
                </div>
                <div class="boxColors">
                    <img src="/storage/img/Colors3.svg">
                </div>
                <div class="textDescription">
                    <h5>D20 Bluetooth smart h...</h5>
                    <h6>$15.25</h6>
                    <h6><s>$20.00</s></h6>
                </div>
            </div>
        </section>

        <section class="right">
            <div class="box">
                <div class="imgHeadphones">
                    <img src="../storage/img/headphones4.svg">
                    <img src="/storage/img/blackheart.svg" class="imgHeart">                
                </div>
                <div class="boxColors">
                    <img src="/storage/img/Colors4.svg">
                    <h6>All 4 colors</h6>
                </div>
                <div class="textDescription">
                    <h5>K800 Ultra smart watch</h5>
                    <h6>$32.00</h6>
                    <h6><s>$35.00</s></h6>
                </div>
            </div>
            <div class="box">
                <div class="imgHeadphones">
                    <img src="../storage/img/headphones5.svg">
                    <img src="/storage/img/blackheart.svg" class="imgHeart">                </div>
                <div class="boxColors">
                    <img src="/storage/img/Colors5.svg">
                    <h6>All 5 color</h6>
                </div>
                <div class="textDescription">
                    <h5>M6 IP67 headphones</h5>
                    <h6>$12.00</h6>
                    <h6><s>$18.00</s></h6>
                </div>
            </div>
            <div class="box">
                <div class="imgHeadphones">
                    <img src="../storage/img/headphones6.svg">
                    <img src="/storage/img/blackheart.svg" class="imgHeart">
                </div>
                <div class="boxColors">
                    <img src="/storage/img/colors6.svg">
                </div>
                <div class="textDescription">
                    <h5>D18s Smart headphones</h5>
                    <h6>$17.15</h6>
                    <h6><s>$22.00</s></h6>
                </div>
            </div>

        </section>
    </div>

    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/homeIcon.svg" alt="home">
                <span class="homeIcon">Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/myCartIcon.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>