<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link rel="stylesheet" href="../css/filter.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="color__fondo"></div>
    <main class="main">
        <article class="article">
            <div class="text__1">
                <h3>filter</h3>
            </div>
            <div class="text__2">
                <img src="../storage/img/tick-square.svg" alt="">
                <h3>Price (Low to High)</h3>
            </div>
            <div class="text__3">
                <img src="../storage/img/tick-square-02.svg" alt="">
                <h3>Price (High to Low)</h3>
            </div>
            <div class="text__4">
                <img src="../storage/img/tick-square.svg" alt="">
                <h3>A-Z</h3>
            </div>
            <div class="text__5">
                <img src="../storage/img/tick-square.svg" alt="">
                <h3>Z-A</h3>
            </div>
            <button class="button">
                <h3>apply</h3>
            </button>
        </article>
    </main>
</body>
</html>