<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/home-2.svg" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>