<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/forgotNewPassword.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="back">
            <i class='bx bx-arrow-back'></i>
        </div>
        <div class="middle">
            <h2>create password</h2>
        </div>
        <div class="page">
            <p>03</p><p>/</p><p>03</p>
        </div>
    </header>
    <main>
        <div class="main__header">
            <h1>new password</h1>
            <p>Enter your new password and remember it.</p>
        </div>
        <div class="password__confirm">
            <div class="create__password">
                <label for="password"> password <sup>*</sup></label>
                <div class="input__createPassword">
                    <input type="password" placeholder="Enter your password" class="password__create">
                    <input type="checkbox" class="showHide__password">
                </div>
            </div>
            <div class="confirm__password">
                <label for="password__confirm"> confrim password <sup>*</sup></label>
                <div class="input__confirmPassword">
                    <input type="password" placeholder="Enter your password" class="password__confirm">
                    <input type="checkbox" class="showHide__password">
                </div>
            </div>
            <input type="submit" value="Save">
        </div>
    </main>
</body>
</html>