<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Confirmation Email</title>
    <link rel="stylesheet" href="../css/forgotPasswordConfirmationEmail.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href="forgotPasswordEmailConfirmationPage.html"><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>Forgot Password</p>
            </div>
            <div class="header_container_pag">
                <div class="pag_actual">
                    <p>02/</p>
                </div>
                <div class="pag_siguiente">
                    <p>03</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="verification_container">
            <h2>Email Verification</h2>
            <p>Enter the 6-digit verification code sent to your email address.</p>
            <div class="verification_code">
                <input type="text" maxlength="1" id="code1" autofocus>
                <input type="text" maxlength="1" id="code2" autofocus>
                <input type="text" maxlength="1" id="code3" autofocus>
                <input type="text" maxlength="1" id="code4" autofocus>
                <input type="text" maxlength="1" id="code5" autofocus>
                <input type="text" maxlength="1" id="code6" autofocus>
                <div class="resend_code">
                    <a href="#">Resend Code</a>
                </div>
                <div class="verification_proceed">
                    <button><a href="forgotPasswordNewPassword.html">Proceed</a></button>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    setTimeout(function () {
                        // Enfoque automático en el elemento con id 'code1' después de 500ms
                        document.getElementById('code1').focus();
                    }, 500);
                });
            </script>
    </main>
</body>

</html>