<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password Email Confirmation</title>
    <link
      rel="stylesheet"
      href="../css/ForgotPasswordEmailConfirmationPage.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="Forgot_Password">
        <h1><a href="Forgot_Password.html">&larr; Forgot Password</a></h1>
      </div>
    </header>
    <main>
        <h1 class="Confirmation_Email">Confirmation Email</h1>
        <p>Enter your email address for verification.</p>
        <p class="texto">Email &#42;</p>
        <div class="IngreseEmail">
          <form action="submit_email.html" method="post">
            <input type="email" name="email" required />
            <div class="enviar">
              <input type="submit" value="Send" />
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
