<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password Email Confirmation</title>
    <link
      rel="stylesheet"
      href="../css/ForgotPasswordEmailConfirmationPage.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header_container">
          <div class="header_container_flecha">
              <a href="login.html"><i class='bx bx-arrow-back'></i></a>
          </div>
          <div class="header_container_titulo">
              <p>Forgot Password</p>
          </div>
          <div class="header_container_pag">
              <div class="pag_actual">
                  <p>01/</p>
              </div>
              <div class="pag_siguiente">
                  <p>03</p>
              </div>
          </div>
      </div>
  </header>
    <main>
      <h1 class="confirmation_email">Confirmation Email</h1>
      <p>Enter your email address for verification.</p>
      <form class="IngreseEmail" action="submit_email.html" method="post">
        <legend>Email <span>&#42;</span></legend>
        <input type="email" name="email" required />
        <a class="enviar" href="forgotPasswordConfirmationEmail.html">Send</a>
      </form>
    </main>
  </body>
</html>
