<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password New Password</title>
    <link rel="stylesheet" href="/css/forgotNewPassword.css">
    <link rel="stylesheet" href="../css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href="forgotPasswordConfirmationEmail.html"><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>Created Password</p>
            </div>
            <div class="header_container_pag">
                <div class="pag_actual">
                    <p>03/</p>
                </div>
                <div class="pag_siguiente">
                    <p>03</p>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="main__title">
            <article class="title__article">
                <h1>new password</h1>
                <p>Enter your new password and remember it.</p>
            </article>
        </section>
        <section class="main__form">
            <div class="password__confirm">
                <article class="form__article">
                    <form action="#" method="post">
                        <div class="form__box">
                            <label for="password"> Password <sup>*</sup></label>
                            <input type="password" placeholder="Enter your password" class="password__create">
                            <span class="form__icon">
                                <img src="../storage/img/eye.svg">
                            </span>
                        </div>
                        <div class="form__box">
                            <label for="password__confirm"> Confirm Password <sup>*</sup></label>
                            <input type="password" placeholder="Enter your password" class="password__confirm">
                            <span class="form__icon">
                                <img src="../storage/img/eye.svg">
                            </span>
                        </div>
                        <div class="verification_proceed">
                            <button><a href="passwordCreatedSuccessfully.html">Save</a></button>
                        </div>
                    </form>
                </article>
            </div>
        </section>
    </main>
</body>

</html>