<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password Email Confirmation</title>
    <link
      rel="stylesheet"
      href="../css/ForgotPasswordEmailConfirmationPage.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="container">
      <a href="Forgot_Password.html"><span>&larr;</span>Forgot Password</a><h
      <p>01/<span>03</span></p>
    </header>
    <main>
      <h1 class="confirmation_email">Confirmation Email</h1>
      <p>Enter your email address for verification.</p>
      <form class="IngreseEmail" action="submit_email.html" method="post">
        <legend>Email <span>&#42;</span></legend>
        <input type="email" name="email" required />
        <a class="enviar" href="">Send</a>
      </form>
    </main>
  </body>
</html>
