<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/homeScreen.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <header>
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/Group 4023.png">
            </div>
        </div>
        <div class="buscar">
            <img src="../storage/img/search.jpg">
        </div>
    </header>
    <div class="icono__promo">
        <div class="promo">
            <img src="../storage/img/Group 4024.png">
        </div>
    </div>
    <div class="categorias">
        <h3>Categories</h3> 
    </div>
    <div class="categoria_1">
        <div class="telefono">
            <img src="../storage/img/clase 1.png">
        </div>
    </div>
    <div class="categoria_2">
        <div class="bolso">
            <img src="../storage/img/clase 2.png">
        </div>
    </div>
    <div class="categoria_3">
        <div class="mueble">
            <img src="../storage/img/clase 3.png">
        </div>
    </div>
    <div class="categoria_4">
        <div class="carro">
            <img src="../storage/img/clase 4.png">
        </div>
    </div>
    <div class="productos">
        <h3>Latest Products</h3> 
    </div>
    <div class="producto_1">
        <div class="zapato">
            <img src="../storage/img/producto 1.png">
        </div>
    </div>
    <div class="producto_2">
        <div class="gafas">
            <img src="../storage/img/producto 2.png">
        </div>
    </div>
    <div class="producto_3">
        <div class="audifonos">
            <img src="../storage/img/producto 3.png">
        </div>
    </div>
    <div class="producto_4">
        <div class="bolsa">
            <img src="../storage/img/producto 4.png">
        </div>
    </div>


    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="../storage/img/footer/home_10995531.png" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="../storage/img/footer/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="../storage/img/footer/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="../storage/img/footer/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="../storage/img/footer/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>