<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/myCart.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href=""><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>My Cart</p>
            </div>
            <div class="header_container_pag">
                <a href="#"><p>Voucher Code</p></a>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="main__cart">
            <article class="cart">
                <div class="cart__image">
                    <img src="../storage/img/appleWatch.jpg" alt="">
                </div>
                <div class="cart__info">
                    <div class="info__headline">
                        <div class="headline__name">
                            <p class="name">Loop Silicone Strong Magnetic Watch</p>
                            <img src="../storage/img/check.svg" alt="">
                        </div>
                        <div class="headline__discount">
                            <small class="discount__after">$15.25</small>
                            <small class="discount__before">$20.00</small>
                        </div>
                    </div>
                    <div class="info__quantity">
                        <div class="quantity__count">
                            <img src="../storage/img/minus.svg" alt="">
                            <h3>1</h3>
                            <img src="../storage/img/add.svg" alt="">
                        </div>
                        <a href="#"><img src="../storage/img/trash.svg" alt=""></a>
                    </div>
                </div>
            </article>
            <article class="cart">
                <div class="cart__image">
                    <img src="../storage/img/waterproofWatch.jpg" alt="">
                </div>
                <div class="cart__info">
                    <div class="info__headline">
                        <div class="headline__name">
                            <p class="name">M6 Smart watch IP67 Waterproof</p>
                            <img src="../storage/img/check.svg" alt="">
                        </div>
                        <div class="headline__discount">
                            <small class="discount__after">$12.00</small>
                            <small class="discount__before">$18.00</small>
                        </div>
                    </div>
                    <div class="info__quantity">
                        <div class="quantity__count">
                            <img src="../storage/img/minus.svg" alt="">
                            <h3>1</h3>
                            <img src="../storage/img/add.svg" alt="">
                        </div>
                        <a href="#"><img src="../storage/img/trash.svg" alt=""></a>
                    </div>
                </div>
            </article>
        </section>
        <div class="order__dad">
            <section class="main__order">
                <article class="order__info">
                    <p class="info__title">Order Info</p>
                    <div class="info__detail">
                        <div class="detail__subtotal">
                            <small>Subtotal</small>
                            <small>$27.25</small>
                        </div>
                        <div class="detail__shipping">
                            <small>Shipping Cost</small>
                            <small>$0.00</small>
                        </div>
                        <div class="detail__total">
                            <p>Total</p>
                            <p>$27.25</p>
                        </div>
                    </div>
                </article>
                <button class="order__button">Checkout (2)</button>
            </section>
        </div>
        
    </main>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/home-2.svg" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>