<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My voucher code</title>
    <link rel="stylesheet" href="../css/myCartVoucherCode.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- tuve que cambiar la ubicacion de ciertos objetos en el main como el div que contiene el boton de checkout para poder adaptar mejor las visulizaciones -->
    <div class="voucher-code">
        <!-- terminado -->
        <form class="voucher">
            <div class="voucher__line"></div>
            <div class="voucher__label"><h3 for="code-gift" class="voucher__code">voucher code</h2></div>
            <input type="number" class="voucher__gift-code" placeholder="enter voucher code">
            <button type="submit" class="voucher__submit">apply</button>
        </form>
    </div>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href=""><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>My Cart</p>
            </div>
            <div class="header_container_pag">
                <a href="#"><p>Voucher Code</p></a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="order__dad">
            <section class="main__order">
                <article class="order__info">
                    <p class="info__title">Order Info</p>
                    <div class="info__detail">
                        <div class="detail__subtotal">
                            <small>Subtotal</small>
                            <small>$27.25</small>
                        </div>
                        <div class="detail__shipping">
                            <small>Shipping Cost</small>
                            <small>$0.00</small>
                        </div>
                        <div class="detail__total">
                            <p>Total</p>
                            <p>$27.25</p>
                        </div>
                    </div>
                </article>
                <button class="order__button">Checkout (2)</button>
            </section>
        </div>
        <section class="main__cart">
            <article class="cart">
                <div class="cart__image">
                    <img src="../storage/img/appleWatch.jpg" alt="">
                </div>
                <div class="cart__info">
                    <div class="info__headline">
                        <div class="headline__name">
                            <p class="name">Loop Silicone Strong Magnetic Watch</p>
                            <img src="../storage/img/check.svg" alt="">
                        </div>
                        <div class="headline__discount">
                            <small class="discount__after">$15.25</small>
                            <small class="discount__before">$20.00</small>
                        </div>
                    </div>
                    <div class="info__quantity">
                        <div class="quantity__count">
                            <img src="../storage/img/minus.svg" alt="">
                            <h3>1</h3>
                            <img src="../storage/img/add.svg" alt="">
                        </div>
                        <a href="www.youtube.com"><img src="../storage/img/trash.svg" alt=""></a>
                    </div>
                </div>
            </article>
            <article class="cart">
                <div class="cart__image">
                    <img src="../storage/img/waterproofWatch.jpg" alt="">
                </div>
                <div class="cart__info">
                    <div class="info__headline">
                        <div class="headline__name">
                            <p class="name">M6 Smart watch IP67 Waterproof</p>
                            <img src="../storage/img/check.svg" alt="">
                        </div>
                        <div class="headline__discount">
                            <small class="discount__after">$12.00</small>
                            <small class="discount__before">$18.00</small>
                        </div>
                    </div>
                    <div class="info__quantity">
                        <div class="quantity__count">
                            <img src="../storage/img/minus.svg" alt="">
                            <h3>1</h3>
                            <img src="../storage/img/add.svg" alt="">
                        </div>
                        <a href="www.youtube.com"><img src="../storage/img/trash.svg" alt=""></a>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>