<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/onboarding3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header></header>
    <main>
        <section class="o3_ilistracion">
            <img src="../storage/img/onboarding3/arrow_right.svg" alt="">
            <img src="../storage/img/onboarding3/Online_Shopping_4.svg" alt="">
        </section>
        <section class="o3_Decsion">
            <h1>Safe and secure payments</h1>
            <p>QuickMart employs industry-leading encryption and trusted payment gateways to safeguard your financial information.</p>
            <div>
                <button>Login</button>
                <button>Get Started <img src="../storage/img/onboarding3/arrow_left.svg" alt=""></button>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>