<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding 3</title>
    <link rel="stylesheet" href="../css/onboarding3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header></header>
    <main>
        <div class="main__img">
            <div class="main__icons">
                <a href="onboarding2.html"><i class='bx bx-arrow-back'></i></a>
            </div>
            <img src="../storage/img/onboarding3/Online_Shopping_4.svg" alt="">
        </div>
        <section class="o3_Decsion">
            <h1>Safe and secure payments</h1>
            <p>QuickMart employs industry-leading encryption and trusted payment gateways to safeguard your financial information.</p>
            <div class="o3_Decsion_boton">
                <button ><a href="signup.html">Login</a></button>
                <button ><a href="signup.html">Get Started</a><img src="../storage/img/onboarding3/arrow_left.svg" alt=""></button>
            </div>
            <div class="main__btns">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>