<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/onboarding1.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="container">
    <div class="container__empty"></div>
    <div class="container__logo">
        <img src="../storage/img/quickmart.svg" alt="">
        <h2>Skip for now</h2>
      </div>
    
    <div class="container__skip"></div>

    <div class="container__pic">
      <img src="../storage/img/shopping.svg" alt="">
    </div>

    <div class="container__title">
      <h1 style="text-align:center ;">Explore a wide range of products</h1>
      <p style="text-align:center;">Explore a wide range of products at your fingertips. QuickMart offers an extensive collection to suit your needs.</p>
      </div>

    <div class="container__but">
      <button><a href="">Next</a></button>
      <img src="../storage/img/Progress Indicators.svg" alt="">
    </div>

    <div class="container__else"></div>

  </div>
</body>
</html>