<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orderPlaceSuccessfully</title>
    <link rel="stylesheet" href="../css/orderPlaceSuccessfully.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main class="mainorder">
        <div class="mainorder__img">
            <img src="../storage/img/01 Online Shopping 1.png" alt="">
        </div>
        <div class="mainorder__p">
            <p>Your order has been placed successfully</p>
            <p>Thank you for choosing us! Feel free to continue shopping and explore our wide range of products. Happy Shopping!</p>
        </div>
        <button>Continue Shopping</button>
    </main>
</body>
</html>