<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/productDetailDescription.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="retroseso">
            <img src="../storage/img/arrow-left.png">
        </div>
        <div class="Wish">
            <img src="../storage/img/wishlist.png"/>
        </div>
    </header>
    
    <main class="main">
        <section class="product_img">
            <img src="../storage/img/producto.jpg"/>
        </section>
        <section class="product_Detail">
            <div class="product_labels">
                <h3>Top Rated</h3>
                <h3>Free Shipping</h3>
            </div>
            <div class="product_name_and_price">
                <div class="name">
                    <h1><strong>Loop Silicone Strong Magnetic Watch</strong></h1>
                </div>
                <div class="price">
                    <h2><samp>$</samp>15.25</h2>
                    <h3><s><samp>$</samp>20.00</s></h3>
                </div>
            </div>
            <div class="rating">
                <div class="star">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <div class="reviews">
                    <h1>4.5(2,495 reviews)</h1>
                </div>
            </div>
            <div class="product_description">
                <div class="description_1">
                    Constructed with high-quality silicone material, the Loop Silicone Strong Magnetic Watch ensures a comfortable and secure fit on your wrist. The soft and flexible silicone is gentle on the skin, making it ideal for extended wear. Its lightweight design allows for a seamless blend of comfort and durability.
                </div>
                <div class="description_2">
                    One of the standout features of this watch band is its strong magnetic closure. The powerful magnets embedded within the band provide a secure and reliable connection, ensuring that your smartwatch stays firmly in place throughout the day. Say goodbye to worries about accidental detachment or slippage - the magnetic closure offers a peace of mind for active individuals on the go.            </div>
                <div class="description_3">
                    The Loop Silicone Strong Magnetic Watch Band is highly versatile, compatible with a wide range of smartwatch models. Its adjustable strap length allows for a customizable fit, catering to various wrist sizes. Whether you're engaging in intense workouts or attending formal occasions, this watch band effortlessly adapts to your style and activity level.            </div>
            </div>
        </section>
        <section class="product_Colors_Quantity">
            <div class="title_colors">
                <h1><strong>Color</strong></h1>
            </div>
            <div class="colors">
                <div class="color_1"></div>
                <div class="color_2"></div>
                <div class="color_3"></div>
                <div class="color_4"></div>
                <div class="color_5"></div>
            </div>
            <div class="title_Size">
                <h1><strong>Size</strong></h1>
            </div>
            <div class="Sizes">
                <div class="Size_1">XS</div>
                <div class="Size_2">S</div>
                <div class="Size_3">M</div>
                <div class="Size_4">L</div>
                <div class="Size_5">XL</div>
            </div>
            <div class="title_Quantity">
                <h1><strong>Quantity</strong></h1>
            </div>
            <div class="Quantity">
                <div class="Quantity_1">
                    <i class='bx bx-minus'></i>
                    0
                    <i class='bx bx-plus'></i>
                </div>
            </div>
        </section>
        <section class="Buttons">
            <button class="button_1">Buy Now</button>
            <button class="button_2">Add to Cart <i class='bx bx-cart' ></i></button>
        </section>
    </main>

</body>
</html>