<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/productDetail.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="retroseso">
            <img src="../storage/img/arrow-left.png">
        </div>
        <div class="Wish">
            <img src="../storage/img/wishlist.svg"/>
        </div>
    </header>
    
    <main class="main">
        <section class="product_img">
            <img src="../storage/img/reloj.svg"/>
        </section>
        <section class="product_Detail">
            <div class="product_labels">
                <h3>Top Rated</h3>
                <h3>Free Shipping</h3>
            </div>
            <div class="product_name_and_price">
                <div class="name">
                    <h1><strong>Loop Silicone Strong Magnetic Watch</strong></h1>
                </div>
                <div class="price">
                    <h2><samp>$</samp>15.25</h2>
                    <h3><s><samp>$</samp>20.00</s></h3>
                </div>
            </div>
            <div class="rating">
                <div class="star">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <div class="reviews">
                    <h1>4.5(2,495 reviews)</h1>
                </div>
            </div>
            <div class="product_description">
                <p>Constructed with high-quality silicone material, the Loop Silicone Strong Magnetic Watch ensures a comfortable and secure fit on your wrist. The soft and flexible silicone is gentle on the skin, making it ideal for... <a href="#" class="leermas">Read more</a></p>
            </div>
        </section>
        <section class="product_Colors_Quantity">
            <div class="title_colors">
                <h1><strong>Color</strong></h1>
            </div>
            <div class="colors">
                <div class="color_1"></div>
                <div class="color_2"></div>
                <div class="color_3"></div>
                <div class="color_4"></div>
                <div class="color_5"></div>
            </div>
            <div class="title_Quantity">
                <h1><strong>Quantity</strong></h1>
            </div>
            <div class="Quantity">
                <div class="Quantity_1">
                    <i class='bx bx-minus'></i>
                    0
                    <i class='bx bx-plus'></i>
                </div>
            </div>
        </section>
        <section class="Buttons">
            <button class="button_1">Buy Now</button>
            <button class="button_2">Add to Cart <i class='bx bx-cart' ></i></button>
        </section>
    </main>

</body>
</html>