<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/productListing.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__1">
            <div class="div__1">
                <img src="../storage/img/Line arrow-left.svg" >
                <h4>smart watches</h4>
            </div>
            <div class="div__2">
                <img src="../storage/img/setting-4.svg" class="img__settings">
                <img src="../storage/img/search-normal.svg" class="img__search">
            </div> 
        </div>
    </header>
    <main class="main">
        <article class="reloj__1">
            <img src="../storage/img/reloj01.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
        </article>
        <article class="reloj__2">
            <img src="../storage/img/reloj02.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
        </article>
        <article class="reloj__3">
            <img src="../storage/img/reloj03.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
        </article>
        <article class="reloj__4">
            <img src="../storage/img/reloj04.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
        </article>
        <article class="reloj__5">
            <img src="../storage/img/reloj05.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
        </article>
        <article class="reloj__6">
            <img src="../storage/img/reloj06.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
        </article>
    </main>
</body>
</html>