<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productListing</title>
    <link rel="stylesheet" href="../css/productListing.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__1">
            <div class="div__1">
                <a href="../views/SubCategories.html"><img src="../storage/img/Line arrow-left.svg"></a>
                <h4>smart watches</h4>
            </div>
            <div class="div__2">
                <img src="../storage/img/setting-4.svg" class="img__settings">
                <a href="../views/Search.html"><img src="../storage/img/search-normal.svg" class="img__search"></a>
            </div> 
        </div>
    </header>
    <main class="main">
        <article class="reloj__1">
            <img src="../storage/img/reloj01.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
            <div class="colores__1">
                <div class="circulo0101"></div>
                <div class="circulo0102"></div>
                <div class="circulo0103"></div>
                <small>all 5 colors</small>
            </div>
            <div class="texto__01">
                <h3>Loop silicone strong...</h3>
                <h5>$15.25</h5>
                <small>$20.00</small>
            </div>
        </article>
        <article class="reloj__2">
            <img src="../storage/img/reloj02.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
            <div class="colores__2">
                <div class="circulo0201"></div>
                <div class="circulo0202"></div>
                <div class="circulo0203"></div>
                <small>all 4 colors</small>
            </div>
            <div class="texto__02">
                <h3>K800 Ultra smart watch</h3>
                <h5>$32.00</h5>
                <small>$35.00</small>
            </div>
        </article>
        <article class="reloj__3">
            <img src="../storage/img/reloj03.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
            <div class="colores__3">
                <div class="circulo0301"></div>
                <div class="circulo0302"></div>
                <div class="circulo0303"></div>
            </div>
            <div class="texto__03">
                <h3>Waterproof sport M4 t...</h3>
                <h5>$8.95</h5>
                <small>$15.00</small>
            </div>
        </article>
        <article class="reloj__4">
            <img src="../storage/img/reloj04.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
            <div class="colores__4">
                <div class="circulo0401"></div>
                <div class="circulo0402"></div>
                <div class="circulo0403"></div>
                <small>all 5 colors</small>
            </div>
            <div class="texto__04">
                <h3>M6 Smart watch IP67...</h3>
                <h5>$12.25</h5>
                <small>$18.00</small>
            </div>
        </article>
        <article class="reloj__5">
            <img src="../storage/img/reloj05.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
            <div class="colores__5">
                <div class="circulo0501"></div>
                <div class="circulo0502"></div>
                <div class="circulo0503"></div>
                <small>all 4 colors</small>
            </div>
            <div class="texto__05">
                <h3>Hyper super epic watch  </h3>
                <h5>$2.1</h5>
                <small>$300,000.00</small>
            </div>
        </article>
        <article class="reloj__6">
            <img src="../storage/img/reloj06.svg">
            <div>
                <img src="../storage/img/wishlist.svg">
            </div>
            <div class="colores__6">
                <div class="circulo0601"></div>
                <div class="circulo0602"></div>
                <div class="circulo0603"></div>
                <small>all 5 colors</small>
            </div>
            <div class="texto__06">
                <h3>M14 Tactical Clock</h3>
                <h5>$20.55</h5>
                <small>$40.05</small>
            </div>
        </article>
    </main>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <a href="../views/homeScreen.html"><img src="../storage/img/home-2.svg" alt="home"></a>
                <span>Home</span>
            </div>
            <div class="icon">
                <a href="../views/categories.html"><img src="../storage/img/footer/category-2.svg" alt="home"></a>
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="../storage/img/footer/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <a href="../views/categories.html"></a><img src="../storage/img/footer/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="../storage/img/footer/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>