<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="height: 100dvh; position: relative;">
    <header style="height: 15vh;">
        <section class="user">
            <div class="user_img">    
                <img src="../storage/img/profilePhoto.svg">
            </div>
            <article>
                <h3>ahmed raza</h3>
                <p>ahmedraza@gmail.com</p>
            </article>
        </section>
        <section class="logout">
            <i class='bx bx-log-in-circle'></i>
        </section>
    </header>
    <main>
        <section class="prsnl_inf">
            <h5>personal information</h5>
            <article>
                <a href="#" target="_self"><section class="opts">
                    <div>
                        <i class='bx bx-package' ></i>
                        <p>shipping address</p>
                    </div>
                    <i class='bx bx-chevron-right' ></i>
                </section></a>
                <a href="#" target="_self"><section class="opts">
                    <div>
                        <i class='bx bx-package' ></i>
                        <p>payment method</p>
                    </div>
                    <i class='bx bx-chevron-right' ></i>
                </section></a>
                <a href="#" target="_self"><section class="opts">
                    <div>
                        <i class='bx bx-package' ></i>
                        <p>order history</p>
                    </div>
                    <i class='bx bx-chevron-right' ></i>
                </section></a>
            </article>
        </section>
        <section class="spprt">
            <h5>support & information</h5>
            <article>
                <a href="#" target="_self"><section class="opts">
                    <div>
                        <i class='bx bx-package' ></i>
                        <p>privacy policy</p>
                    </div>
                    <i class='bx bx-chevron-right' ></i>
                </section></a>
                <a href="#" target="_self"><section class="opts">
                    <div>
                        <i class='bx bx-package' ></i>
                        <p>terms & conditions</p>
                    </div>
                    <i class='bx bx-chevron-right' ></i>
                </section></a>
                <a href="#" target="_self"><section class="opts">
                    <div>
                        <i class='bx bx-package' ></i>
                        <p>faqs</p>
                    </div>
                    <i class='bx bx-chevron-right' ></i>
                </section></a>
            </article>
        </section>
        <section class="accnt">
            <h5>account management</h5>
            <article>
                <a href="#" target="_self"><section class="opts">
                    <div>
                        <i class='bx bx-package' ></i>
                        <p>change password</p>
                    </div>
                    <i class='bx bx-chevron-right' ></i>
                </section></a>
                <section class="opts">
                    <label class="switchBtn" for="dark">
                        <div>
                            <i class='bx bx-package' ></i>
                            <p>dark theme</p>
                        </div>
                        <input type="checkbox" id="dark" name="dark">
                        <div class="slide round"></div>
                    </label>    
                </section>
            </article>
        </section>
    </main>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/home-2.svg" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>