<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profileTerms&Conditions.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href=""><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>Terms & Conditions</p>
            </div>
            <!-- <div class="header_container_pag">
                <div class="pag_actual"><p>02/</p></div>
                <div class="pag_siguiente"><p>02</p></div>
            </div> -->
        </div>
    </header>
    <main class="main">
        <section class="main__title">
            <article class="title__article">
                <h2>Terms & Conditions</h2>
                <p>
                    Welcome to QuickMart! These Terms and Conditions ("Terms") govern your use of our e-commerce app. By accessing or using QuickMart, you agree to be bound by these Terms. Please read them carefully before proceeding.
                </p>
            </article>
        </section>
        <section class="main__title">
            <article class="title__article">
                <h3>1. Account Registration:</h3>
                <p>
                    - You must create an account to use certain features of QuickMart.
                </p>
                <p>
                    - You are responsible for providing accurate and up-to-date information during the registration process.
                </p>
                <p>
                    - You must safeguard your account credentials and notify us immediately of any unauthorized access or use of your account.             
                </p>
            </article>
            <article class="title__article">
                <h3>2. Product Information and Pricing:</h3>
                <p>
                    - QuickMart strives to provide accurate product descriptions, images, and pricing information.
                </p>
                <p>
                    - We reserve the right to modify product details and prices without prior notice.
                </p>
                <p>
                    - In the event of an error, we may cancel or refuse orders placed for incorrectly priced products.
                </p>
            </article>
            <article class="title__article">
                <h3>3. Order Placement and Fulfillment:</h3>
                <p>
                    - By placing an order on QuickMart, you agree to purchase the selected products at the stated price.
                </p>
                <p>
                    - We reserve the right to accept or reject any order, and we may cancel orders due to product unavailability, pricing errors, or suspected fraudulent activity.
                </p>
                <p>
                    - Once an order is confirmed, we will make reasonable efforts to fulfill and deliver it in a timely manner.
                </p>
            </article>
            <article class="title__article">
                <h3>4. Payment:</h3>
                <p>
                    - QuickMart supports various payment methods, including credit/debit cards and online payment platforms.
                </p>
                <p>
                    - By providing payment information, you represent and warrant that you are authorized to use the chosen payment method.
                </p>
                <p>
                    - All payments are subject to verification and approval by relevant financial institutions.
                </p>
            </article>
            <article class="title__article">
                <h3>5. Shipping and Delivery:</h3>
                <p>
                    - QuickMart will make reasonable efforts to ensure timely delivery of products.
                </p>                
                <p>
                    - Shipping times may vary based on factors beyond our control, such as location, weather conditions, or carrier delays.
                </p>
                <p>
                    - Risk of loss or damage to products passes to you upon delivery.
                </p>
            </article>
            <article class="title__article">
                <h3>6. Returns and Refunds:</h3>
                <p>
                    - QuickMart's return and refund policies are outlined separately and govern the process for returning products and seeking refunds.
                </p>
                <p>
                    - Certain products may be non-returnable or subject to specific conditions. 
                </p>
            </article>
            <article class="title__article">
                <h3>7. Intellectual Property:</h3>
                <p>
                    - QuickMart and its content, including logos, trademarks, text, images, and software, are protected by intellectual property rights.
                </p>
                <p>
                    - You may not use, reproduce, modify, distribute, or display any part of QuickMart without our prior written consent.             
                </p>
            </article>
            <article class="title__article">
                <h3>8. User Conduct:</h3>
                <p>
                    - You agree to use QuickMart in compliance with applicable laws and regulations.
                </p>
                <p>
                    - You will not engage in any activity that disrupts or interferes with the functioning of QuickMart or infringes upon the rights of others.
                </p>
                <p>
                    - Any unauthorized use or attempt to access restricted areas or user accounts is strictly prohibited.
                </p>
            </article>
            <article class="title__article">
                <h3>9. Limitation of Liability:</h3>
                <p>
                    - QuickMart and its affiliates shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from the use or inability to use our app or any products purchased through it.
                </p>
                <p>
                    - We do not guarantee the accuracy, completeness, or reliability of information provided on QuickMart.
                </p>
            </article>
            <article class="title__article">
                <h3>10. Governing Law:</h3>
                <p>
                    - These Terms shall be governed by and construed in accordance with the laws of [Jurisdiction].
                </p>
                <p>
                    - Any disputes arising out of or relating to these Terms shall be resolved in the courts of [Jurisdiction].
                </p>
                <p>
                    If you have any questions or concerns regarding these Terms and Conditions, please contact our customer support. By using QuickMart, you acknowledge that you have read, understood, and agreed to these Terms and Conditions.
                </p>
            </article>
        </section>
    </main>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/home-2.svg" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>