<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profileFAQs.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href=""><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>FAQs</p>
            </div>
            <!-- <div class="header_container_pag">
                <div class="pag_actual"><p>02/</p></div>
                <div class="pag_siguiente"><p>02</p></div>
            </div> -->
        </div>
    </header>
    <main class="main">
        <section class="main__title">
            <article class="title__article">
                <h3>Terms & Conditions</h3>
                <p>
                    Yes only if the order is not dispatched yet. You can contact our customer service department to get your order canceled.
                </p>
            </article>
            <article class="title__article">
                <h3>Will I receive the same product I see in the photo?</h3>
                <p>
                    Actual product color may vary from the images shown. Every monitor or mobile display has a different capability to display colors, and every individual may see these colors differently. In addition, lighting conditions at the time the photo was taken can also affect an image's color.
                </p>
            </article>
            <article class="title__article">
                <h3>How can I recover the forgotten password?</h3>
                <p>
                    If you have forgotten your password, you can recover it from "Login - Forgotten your password?" section. You will receive an e-mail with a link to enter and confirm your new password.
                </p>
            </article>
            <article class="title__article">
                <h3>Is my personal information confidential?</h3>
                <p>
                    Your personal information is confidential. We do not rent, sell, barter or trade email addresses. When you place an order with us, we collect your name, address, telephone number, credit card information and your email address. We use this information to fulfill your order and to communicate with you about your order. All your information is kept confidential and will not be disclosed to anybody unless ordered by government authorities.
                </p>
            </article>
            <article class="title__article">
                <h3>What payment methods can I use to make purchases?</h3>
                <p>We offer the following payment methods: PayPal, VISA, MasterCard and Voucher code, if applicable.</p>
            </article>
        </section>
        <section class="main__web">
            <article class="web__description">
                For any query, you can visit our website for <a href="#">Help Center</a> at Quickmart.com
            </article>
        </section>
    </main>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/home-2.svg" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>