<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ProfileOrderHistoryOngoingEmptyState.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <img src="../storage/img/arrow_left.svg" alt="">
        <p>order history</p>
    </header>
    <main>
        <nav class="nav">
            <div class="nav__item1"><a href="ProfileOrderHistoryOngoingEmptyState.html">ongoing</a></div>
            <div class="nav__item2"><a href="ProfileOrderHistoryCompletedEmptyState.html">completed</a></div>
        </nav>
        <div class="img">
            <img src="../storage/img/01 Online Shopping 2.svg">
        </div>
        <article class="principal__card">
            <div>
                <h1>
                    No ongoing order
                </h1>
                <p>
                    We currently don't have any active orders in progress. Feel free to explore our products and place a new order.
                </p>
                <button>
                    explore categories
                </button>
            </div>
        </article>
    </main>
    <footer>

    </footer>
</body>
</html>