<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profileOrderHistoryOngoing.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <img src="../storage/img/arrow_left.svg" alt="">
        <p>order history</p>
    </header>
    <main class="main">
        <nav class="nav">
            <div class="nav__item1"><a href="profileOrderHistoryOngoing.html">ongoing</a></div>
            <div class="nav__item2"><a href="profileOrderHistoryCompleted.html">completed</a></div>
        </nav>
        <article class="main__products">
            <section class="products__item">
                <div class="item__title">
                    <p>Estimated time: 7 working days</p>
                </div>
                <div class="item__content">
                    <div class="content__img">
                        <img src="../storage/img/img1_watch.svg" alt="">
                    </div>
                    <div class="content__info">
                        <div class="info__name">
                            <p>loop silicone strong magnetic watch</p>
                        </div>
                        <div class="info__prices">
                            <p class="prices__price1">$15.25</p>
                            <p class="prices__price2">$20.00</p>
                        </div>
                        <div class="info__buttons">
                            <button class="buttons__btn1">
                                <i class='bx bx-minus' ></i>
                            </button>
                            <input type="number" readonly placeholder="1">
                            <button class="buttons__btn2">
                                <i class='bx bx-plus'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="products__item">
                <div class="item__title">
                    <p>Estimated time: 7 working days</p>
                </div>
                <div class="item__content">
                    <div class="content__img">
                        <img src="../storage/img/img2_band.svg" alt="">
                    </div>
                    <div class="content__info">
                        <div class="info__name">
                            <p>m6 smart watch IP67 waterproof</p>
                        </div>
                        <div class="info__prices">
                            <p class="prices__price1">$12.00</p>
                            <p class="prices__price2">$18.00</p>
                        </div>
                        <div class="info__buttons">
                            <button class="buttons__btn1">
                                <i class='bx bx-minus' ></i>
                            </button>
                            <input type="number" readonly placeholder="1">
                            <button class="buttons__btn2">
                                <i class='bx bx-plus'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
</body>

</html>