<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ProfileOrderHistoryOngoingEmptyState.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main>
        <div class="prueba">123</div>
        <img src="../storage/img/01 Online Shopping 2.svg">
        <article>
            <div>
                <h1>
                    No ongoing order
                </h1>
                <p>
                    We currently don't have any active orders in progress. Feel free to explore our products and place a new order.
                </p>
                <button>
                    explore categories
                </button>
            </div>
        </article>

    </main>
</body>
</html>