<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profilePrivacyPolicy.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href=""><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>Privacy Policy</p>
            </div>
            <!-- <div class="header_container_pag">
                <div class="pag_actual"><p>02/</p></div>
                <div class="pag_siguiente"><p>02</p></div>
            </div> -->
        </div>
    </header>
    <main class="main">
        <section class="main__title">
            <article class="title__article">
                <h2>Our Policy</h2>
                <p>At QuickMart, we are committed to protecting the privacy and security of our users' personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard the information obtained through our e-commerce app. By using QuickMart, you consent to the practices described in this policy.</p>
            </article>
        </section>
        <section class="main__title">
            <article class="title__article">
                <h3>1. Information Collection:</h3>
                <p>
                    - Personal Information: We may collect personal information such as name, address, email, and phone number when you create an account, make a purchase, or interact with our services.
                </p>
                <p>
                    - Transaction Details: We collect information related to your purchases, including order history, payment method, and shipping details.
                </p>
                <p>
                    - Usage Data: We may collect data on how you interact with our app, such as browsing activity, search queries, and preferences.
                </p>
            </article>
            <article class="title__article">
                <h3>2. Information Use:</h3>
                <p>
                    - Provide Services: We use the collected information to process orders, deliver products, and provide customer support.
                </p>
                <p>
                    - Personalization: We may use your information to personalize your shopping experience, recommend products, and display targeted advertisements.
                </p>
                <p>
                    - Communication: We may use your contact information to send important updates, promotional offers, and newsletters. You can opt-out of these communications at any time.
                </p>
            </article>
            <article class="title__article">
                <h3>3. Information Sharing:</h3>
                <p>
                    - Third-Party Service Providers: We may share your information with trusted third-party service providers who assist us in operating our app, fulfilling orders, and improving our services.
                </p>
                <p>
                    - Legal Compliance: We may disclose personal information if required by law or in response to a valid legal request from authorities.
                </p>
            </article>
            <article class="title__article">
                <h3>4. Data Security:</h3>
                <p>
                    - We implement appropriate security measures to protect your information from unauthorized access, alteration, disclosure, or destruction.
                </p>
                <p>
                    - However, please note that no data transmission over the internet or electronic storage is 100% secure. We cannot guarantee absolute security of your information.
                </p>
            </article>
            <article class="title__article">
                <h3>5. User Rights:</h3>
                <p>
                    - Access and Update: You have the right to access, correct, or update your personal information stored in our app.
                </p>
                <p>
                    - Data Retention: We retain your personal information as long as necessary to provide our services and comply with legal obligations
                </p>
            </article>
            <article class="title__article">
                <h3>6. Children's Privacy:</h3>
                <p>
                    - QuickMart is not intended for children under the age of 13. We do not knowingly collect or solicit personal information from children.
                </p>
            </article>
            <article class="title__article">
                <h3>7. Updates to the Privacy Policy:</h3>
                <p>
                    - We reserve the right to update this Privacy Policy from time to time. Any changes will be posted on our app, and the revised policy will be effective upon posting.
                </p>
                <p>
                    If you have any questions or concerns about our Privacy Policy, please contact our customer support. By using QuickMart, you acknowledge that you have read and understood this Privacy Policy and agree to its terms and conditions.
                </p>
            </article>
        </section>
    </main>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/home-2.svg" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>