<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="height: 100dvh; position: relative;">
    <header style="height: 15vh;">
        <section class="user">
            <div class="user_img">    
                <img src="../storage/img/profilePhoto.svg">
            </div>
            <article>
                <h3>ahmed raza</h3>
                <p>ahmedraza@gmail.com</p>
            </article>
        </section>
        <section class="logout">
            <i class='bx bx-log-in-circle'></i>
        </section>
    </header>
    <main style="background: darkcyan;">

    </main>
    <footer style="background: blue; height: 10vh;">
        
    </footer>
</body>
</html>