<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profileChangePasswordOldps.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href=""><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>Change Password</p>
            </div>
            <div class="header_container_pag">
                <div class="pag_actual"><p>01/</p></div>
                <div class="pag_siguiente"><p>02</p></div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="main__title">
            <article class="title__article">
                <h2>Old Password</h2>
                <p>Enter old password to change the password.</p>
            </article>
        </section>
        <section class="main__form">
            <article class="form__article">
                <form action="#" method="post">
                    <div class="from__box">
                        <label for="">Password *</label>
                        <input type="text" placeholder="Enter your password">
                        <span class="from__icon">
                            <img src="../storage/img/eye.svg">
                        </span>
                    </div>
                    <input type="submit" value="Continue">
                </form>
            </article>
        </section>
    </main>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/home-2.svg" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>