<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Search.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <img src="../storage/img/quickmart (1).png">
        <a href="../views/homeScreen.html"><img src="../storage/img/cancel.png"></a>
    </header>
    <div class="SearchBar">
        <div class="searchInput">
        <img src="../storage/img/search-normal.png" alt="">
        <input type="text" placeholder="Search">
        </div>
        <a href="../views/filter.html"><img src="../storage/img/setting-4.png" alt=""></a> 
    </div>
    <div class="titulo">
        <h5>RECENT SEARCH</h5>
    </div>
    <div class="main">
        <div>
            <p>Smart watch</p>
            <img src="../storage/img/send.png" alt="">
        </div>
        <div>
            <p>Laptop</p>
            <img src="../storage/img/send.png" alt="">
        </div>
        <div>
            <p>Women Bag</p>
            <img src="../storage/img/send.png" alt="">
        </div>
        <div>
            <p>Headphones</p>
            <img src="../storage/img/send.png" alt="">
        </div>
        <div>
            <p>Shoes</p>
            <img src="../storage/img/send.png" alt="">
        </div>
        <div>
            <p>Eye glasses</p>
            <img src="../storage/img/send.png" alt="">
        </div>
    </div>
</body>
</html>