<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signupEmailVerificationToast.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body class="body">
    <header class="header">
        <nav class="nav">
            <div class="nav__icon">
                <i class='bx bx-check-circle'></i>
            </div>
            <h6>6-digit Verification code has been send to your email address.
                Action</h6>
        </nav>
    </header>
    <main>
        <section class="email__verification">
            <div class="verification__text">
                <h2>Email Verification</h2>
                <p>Enter the 6-digit Verification code send to your email address</p>
            </div>
            <div class="verification__box">
                <div class="box__container">
                    <div class="item_1"></div>
                    <div class="item_2"></div>
                    <div class="item_3"></div>
                    <div class="item_4"></div>
                    <div class="item_5"></div>
                    <div class="item_6"></div>
                </div>
                <a href="#">Resend Code</a>
                <button>Proceed</button>
            </div>
        </section>
        <section class="numbers">
            <button class="item1">1</button>
            <button class="item2">2</button>
            <button class="item3">3</button>
            <button class="item4">4</button>
            <button class="item5">5</button>
            <button class="item6">6</button>
            <button class="item7">7</button>
            <button class="item8">8</button>
            <button class="item9">9</button>
            <button class="item10"><-</button>
            <button class="item11">0</button>
            <button class="item12">C</button>
        </section>
    </main>
</body>
</html>