<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/SubCategories.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="header_container">
            <div class="header_container_flecha">
                <a href=""><i class='bx bx-arrow-back'></i></a>
            </div>
            <div class="header_container_titulo">
                <p>Electronics</p>
            </div>
        </div>
    </header>
    <main class="container">
            <div class="Product_1">
                <img src="/storage/img/Rectangle 9.svg" alt="">
                <p>Laptops</p>
            </div>
            <div class="Product_2">
                <img src="/storage/img/Rectangle 9-1.svg" alt="">
                <p>Mobile phones</p>
            </div>
            <div class="Product_3">
                <img src="/storage/img/Rectangle 9-2.svg" alt="">
                <p>Headphones</p>
            </div>
            <div class="Product_4">
                <img src="/storage/img/Rectangle 9-3.svg" alt="">
                <p>Smart Watches</p>
            </div>
            <div class="Product_5">
                <img src="/storage/img/Rectangle 9-4.svg" alt="">
                <p>Mobile Cases</p>
            </div>
            <div class="Product_6">
                <img src="/storage/img/Rectangle 9-5.svg" alt="">
                <p>Monitors</p>
            </div>
            <div class="Product_7">
                <img src="/storage/img/Rectangle 9-6.svg" alt="">
                <p>Headsets</p>
            </div>
            <div class="Product_8">
                <img src="/storage/img/Rectangle 9-7.svg" alt="">
                <p>Phone charger</p>
            </div>
    </main>
    <footer class="footer_main">
        <nav class="footer_content">
            <div class="icon">
                <img src="/storage/img/home-2.svg" alt="home">
                <span>Home</span>
            </div>
            <div class="icon">
                <img src="/storage/img/category-2.svg" alt="home">
                <span>Categories</span>
            </div>
            <div class="icon">
                <img src="/storage/img/shopping-cart.svg" alt="home">
                <span>My Cart</span>
            </div>
            <div class="icon">
                <img src="/storage/img/heart.svg" alt="home">
                <span>WishList</span>
            </div>
            <div class="icon">
                <img src="/storage/img/profile.svg" alt="home">
                <span>Profile</span>
            </div>
        </nav>
    </footer>
</body>
</html>