<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wishlistEmptyState</title>
    <link rel="stylesheet" href="../css/wishlistEmptyState.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <section class="card__Wishlist__ES">
        <div class="img__shop">
            <img src="../storage/img/01 Online Shopping 2.png" alt="">
        </div>
        <article class="title__card">
            <h2><strong>Your wishlist is empty</strong></h2>
            <p>Tap heart to start saving your favorite items.</p>
            <button><a href="#">Explore Categories</a></button>
        </article>
    </section>
    <footer>

    </footer>

</body>

</html>