<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/wishlistDeleted.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <p>otro contenido que debe ser opacado :P</p>
    <div class="opacity"></div>
    <div class="alert">
        <p>Delete product from wish list</p>
        <button class="delete">Delete (1) product</button>
        <button class="cancel">Cancel</button>
    </div>
    
</body>
</html>